<!DOCTYPE html>
<html>
<head>

    <title>AxialGrooves Low Flow Theta3</title>
    	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TXSKMJR');</script>
        <!-- End Google Tag Manager -->
        
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-202995475-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-202995475-1');
    </script>

<style>
    /* .a {
     margin-left: 40px;
     font-size:20px;
    } */

    #list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
    }

    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
}
</style>
</head>
<body>

<div class="grid-container">
    <div class="grid-child">
        <h2>Semi-circle grooves at theta3:</h2>
        <!-- <div><img src="../static/images/sample_plot.png" height="600" width="900"></div> -->
        <div><a href="../AxialGrooves_lowflow_theta3/output_plot_vor_1200.zip">Download</a> MATLAB plot code
        <div><img src="../AxialGrooves_lowflow_theta3/theta3_plot.png" height="500" width="800"></div>
</div>
    </div>
    <div class="grid-child">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div><img src="../AxialGrooves_lowflow_theta1/Picture1.png" height="500" width="600"></div>    
        <br>
        <br>
        <div>  <img src="../Smoothwall_largegap_lowflow/chord_locations.PNG" height="400" width="300"></div>   
    </div>
</div>
</body>

</html>
