<!DOCTYPE html>
<html>


<style>
    /* .a {
     margin-left: 40px;
     font-size:20px;
    } */

    #list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
    }

    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
</style>
<body>

<div class="grid-container">
    <div class="grid-child">
        <h2>Smooth wall, large tip gap:</h2>
        <div><a href="../Smoothwall_largegap_lowflow/large_lowFlow_plot_TKE_1200.zip">Download</a> MATLAB plot code</div>
        <div><img src="../Smoothwall_largegap_lowflow/Smooth_largegap_lowflow.png" height="500" width="800"></div>

    </div>
    <div class="grid-child">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>  <img src="../Smoothwall_largegap_lowflow/chord_locations.PNG" height="500" width="300"></div>
    </div>
    <div class="grid-child"></div>
    <div class="grid-child">
        <div><img src="../Smoothwall_smallgap_highflow/large_small_gap.png" height="400" width="700"></div>  
    </div>
</div>
</body>

</html>
