<!DOCTYPE html>
<html>


<style>
    /* .a {
     margin-left: 40px;
     font-size:20px;
    } */

    #list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
    }

    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
</style>
<body>

<div class="grid-container">
    <div class="grid-child">
        <h2>Smooth wall, small tip gap:</h2>
        <!-- <div><img src="../static/images/sample_plot.png" height="600" width="900"></div> -->
        <div><img src="../Smoothwall_smallgap_lowflow/Smooth_smallgap_lowflow_plot.png" height="500" width="800"></div>
        <div><a target="../Smoothwall_smallgap_lowflow/small_lowFlow_plot_TKE_1200.m" href="../Smoothwall_smallgap_lowflow/small_lowFlow_plot_TKE_1200.m">Download</a> MATLAB plot code</div>
    </div>
    <div class="grid-child">
        <!-- <p>&nbsp;</p>
        <p>MATLAB plot code:</p>
        <p>&nbsp;</p>
        <div id="list">
        <p><iframe src="../static/documents/small_highFlow_plot_TKE_1200.m" frameborder="0" height="400"
            width="98%"></iframe></p> -->
        <!-- </div> -->
        <!-- <div  class="a">
            <a href='https://www.google.com/'>Flow=0.25, s/c=0.218</a>
        </div> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div><img src="../Smoothwall_smallgap_highflow/PIVchordPlanes.PNG" height="400" width="500"></div>
    </div>
    <div class="grid-child"></div>
    <div class="grid-child">
        <div><img src="../Smoothwall_smallgap_highflow/large_small_gap.png" height="400" width="700"></div>  
    </div>
</div>
</body>

</html>
