<!DOCTYPE html>
<html>
<head>

    <title>Semi-circle grooves, L1 at Theta2, Flow 0.35 & 0.38 </title>
    	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TXSKMJR');</script>
        <!-- End Google Tag Manager -->
        
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-202995475-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-202995475-1');
    </script>

<style>
    /* .a {
     margin-left: 40px;
     font-size:20px;
    } */

    #list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
    }

    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
}
</style>
</head>
<body>

<div class="grid-container">
    <div class="grid-child">
        <h2>Semi-circle grooves, L1 at Theta2</h2>
        <!-- <div><img src="../static/images/sample_plot.png" height="600" width="900"></div> -->
        <div><a href="../AxialGrooves_L1_atTheta2\ACG_Q35_meri_L1_sample_output_plot_vor_1200.zip">Download</a> MATLAB plot code</div>
        <div><img src="../AxialGrooves_L1_atTheta2\AxialGrooves_L1_Theta2.png" height="500" width="950"></div>
        <div><img src="../AxialGrooves_L1_atTheta2\AxialGrooves_L1_Theta2_Q38.png" height="500" width="700"></div>

    </div>
    <div class="grid-child">
        <h2>L1, L2 positions (shown with U grooves)</h2>
        <!-- <div><img src="../static/images/sample_plot.png" height="600" width="900"></div> -->
        <div><img src="../AxialGrooves_L1_atTheta2\L1_L2_positions.png" height="500" width="500"></div>
    </div>

</div>
</body>

</html>
